@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Patua+One&family=Roboto:wght@100;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------------------------------------------------------
                       Global styles
-----------------------------------------------------------*/
body {
    background-color: rgb(8, 11, 60);
    color: white;
    font-family: Outfit, Arial, sans serif;
}

h1 {
    font-size: 4rem;;
    border-bottom: 3px solid aqua;
    padding-bottom: 3%;
    margin-bottom: 3%;
}
h1, h2 {
    font-family: Roboto, Arial, sans-serif;
}

h2 {
    font-size: 2.5rem;
    border-bottom: 3px solid rgb(8, 11, 60);
    padding-bottom: 3%;
    margin-bottom: 3%;
}
p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: rgb(51, 51, 51);
}

/* ---------------------------------------------------------
                        header styles 
-----------------------------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 2.25rem;
    width: 100%;
}

.mylogo {
    height: 60px;
}

.top-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.top-nav li {
    list-style-type: none;
}
.top-nav a {
    color: white;
    text-decoration: none;
}
.top-nav a:hover {
    color: aqua;
}
.top-nav a:active {
    border-bottom: 2px solid aqua;
}
/* ---------------------------------------------------------
                        hero styles 
-----------------------------------------------------------*/

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}
.hero-img {
    width: 80%;
    max-width: 500px;
}
.hero-description{
    display: flex;
    flex-direction: column;
    max-width: 25rem;   
}
.hero-description p {
    color: white;
}
.hero-description .second-par {
    color: rgb(188, 249, 249);
}
.hero-btn {
    background-color: aqua;
    color: rgb(31, 7, 88);
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    text-decoration: none;
    width: 60%;
    max-width: 12rem;
    margin: 1rem auto 0 auto;
    text-align: center;
}


@media only screen and (max-width: 872px) {
    h1 {
        font-size: 3rem;
    }
    
    .hero-container {
        flex-direction: column-reverse;
    }
    .hero-img {
        margin-bottom: 2em;
        }
    .hero-description{
        max-width: 90%;
    }
    .hero-description p {
        font-size: 1rem;
}
}

/* ---------------------------------------------------------
                       About me section
-----------------------------------------------------------*/
.about-me {
    background-color: rgb(230, 255, 255);
    color: black;
    margin-top: 2em;
    width: 100%;
    padding: 3em;
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;
}
.about-description {
    width: 50%;
}
.sunp1 {
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgb(85, 85, 85);
    min-width: 200px;
    transform: rotate(-6deg);
}


/* ---------------------------------------------------------
                        footer styles 
-----------------------------------------------------------*/

footer {
    background-color: black;
    padding: 2em;
 
}
    
